body {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    background: url("../img/fundo-site.png") repeat scroll 0 0 transparent;
}

footer {
    position: absolute;
    bottom: 0;
    width: 80% !important;
}

.navbar {
    z-index: 95;
    border-bottom-color: #66afe9 !important;
    outline: 0 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6) !important;
}

.panelBase {
    margin-top: 60px;
}

label {
    display: inline !important;
}

.form-control {
    margin-bottom: 5px;
    width: 80%;
}

.panel-heading {
    color: #285e8e !important;
    font-weight: bold;
}

.panel-danger .panel-heading { 
    background: red !important;
    border-color: red !important;
    color: #fff !important;
}

.panel-success .panel-heading { 
    background: green !important;
    border-color: green !important;
    color: #fff !important;
}

.panel-info .panel-heading { 
    background: #ced04c !important;
    border-color: yellow !important;
    color: #fff !important;
}

#AdmLogin .username{
    background: #FFF url(../img/user.png) no-repeat !important;
    padding-left: 35px;
}

#AdmLogin .password{
    background: #FFF url(../img/key.png) no-repeat !important;
    padding-left: 35px;
}