body {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

footer {
    position: absolute;
    bottom: 0;
    width: 80% !important;
}

.navbar {
    z-index: 95;
}

.panelBase {
    margin-top: 60px;
}

label {
    display: inline !important;
}

.form-control {
    margin-bottom: 5px;
    width: 80%;
    background-color: #f5f5f5 !important;
}

.btn {
    margin-top: 10px;
}

.panel-heading {
    background-image: linear-gradient(to bottom,#f5f5f5 0,#ccc 100%) !important;
    background-repeat: repeat-x !important;
}

.panel-body {
}

.panel-danger .panel-heading { 
    background: red !important;
    border-color: red !important;
    color: #fff !important;
}

.panel-success .panel-heading { 
    background: green !important;
    border-color: green !important;
    color: #fff !important;
}

.panel-info .panel-heading { 
    background: #ced04c !important;
    border-color: yellow !important;
    color: #fff !important;
}

#AdmLogin .username{
    background: #fff url(../img/user.png) no-repeat !important;
    padding-left: 35px;
    background-color: #f5f5f5 !important;
}

#AdmLogin .password{
    background: #fff url(../img/key.png) no-repeat !important;
    padding-left: 35px;
    background-color: #f5f5f5 !important;
}

.insideContent ul {
    margin-top: 5px;
}

.insideContent li {
    color: red;
}