/** Admin */
body {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    background: url("../img/fundo-site.png") repeat scroll 0 0 transparent;
}

.container{
    max-width: 100% !important;
    padding-right: 0px;
    padding-left: 0px;
}

footer{
    margin-right: auto;
    margin-left: auto;
    position: fixed;
    bottom: 0;
    width: 100% !important;
    border-top: 1px solid #ddd;
    background: #eee;
    z-index: 100;
}

.footer{
    max-width: 1170px !important;
    margin-left: auto;
    margin-right: auto;
}

.footer-content{
    font-weight: normal;
    color: #0075b0;
    font-size: 12px;
}

.img-home{
    width: 40px;
    height: 40px;
    margin-right: 5px;
    margin-top: 4px;
    float: left;
    color: #ddd !important;
}

.menu{
    background: #0075b0;
    height: 53px;
}

.tree{
    width: 100%;
    height: 30px;
    background: #eee;
}

.img-logo{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    z-index: 100;
}

.img-logout{
    padding: 5px;
}

.menu .container{
    margin-top: 0px !important;
}

.navbar{
    margin-bottom: 5px;
    z-index: 0;
}

.menu .navbar-header{
    float: right !important;
    clear: both;
}

.menu .navbar-collapse{
    padding-left: 20px !important;
}

.menu .dropdown-menu a{
    color: #0075b0 !important;
}

.menu .dropdown-menu a:hover{
    background: #2187e7 !important;
    color: #fff !important;
}

.menu .active{
    background: #2187e7 !important;
    color: #fff !important;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
    background: #2187e7 !important;
    color: #fff !important;
}

.menu .open{
    color: #0075b0 !important;
    background: #2187e7 !important;
    height: 50px !important;
}

.menu li a{
    height: 53px !important;
    color: #fff !important;
}
    
.menu li a:hover{
    background: #2187e7 !important;
    color: #fff !important;
}

.pagination{
    margin: 0 !important;
    margin-top: 2px !important;
    float: right;
}

.pagination-large{
    float:right;
}

.span6{
    width: 50%;
    float: left;
}

.pagination ul li{
    display: inline;
    padding: 6px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 2px;
}

label {
    display: inline !important;
    font-weight: normal !important;
    float: left;
    clear: both;
    width: 35%;
    margin-right: 0.5em;
    text-align: right;
    font-weight: bold;
}

label span{
    float: left !important;
    font-weight: bold;
}

input[type="radio"]{
    width: 2em;
    margin: 0;
    margin-right: 5px;
    border: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    transition: none;    
}

fieldset{
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background: #f5f5f5;
    /**background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);*/
}

input, select, textarea{
    /**background: #eee !important;*/
}

fieldset > fieldset label {
    width: 7%; 
    float: left; 
    clear: none;
    color: gray;
    text-align: left;
}

#UserAccount fieldset{
    display: table;
}

#UserAccount label{
    margin-top: 10px;
    text-align: left !important;
    width: 55%;
}

#UserAccount label span{
    float: right !important;
}

#UserAccount .btn{
    margin-top: 8px;
    clear: none !important;
}

.btn{
    min-width: 100px !important;
}

.form-control {
    display: inline;
    margin-bottom: 5px;
    width: 100%;
    height: 40px;
}

form .btn-primary {
    float: right;
    margin-top: 5px;
    margin-bottom: 10px;
    clear: both;
}

form ul{
    color: red;
    float: left;
    padding: 0;
    margin-top: 30px;
    display: inline;
}

form li{
    list-style: none;
    margin: 0;
}

.required{
    color: red;
}

.file{
    border: none !important;
    padding: 0 0 !important;
    background: none;
}

.checkbox{
    height: 18px !important;
    width: 18px !important;
    margin-top: 0px !important;
}

.input-checkbox{
    width: 10% !important;
    float: left;
    height: 30px !important;
    width: 30px !important;
    clear: both;
}

select {
    margin-bottom: 5px;
    width: 300px;
    height: 40px !important;
}

.search-grid{
    width: 100% !important;
}

.btn-default{
    float: none !important;
}

.row{
    margin-left: auto !important;
    margin-right: auto !important;
}

.panel{
    margin-left: auto;
    margin-right: auto;
}

.dropdown-menu{
    z-index: 100 !important;
}

.navbar-nav > li > .dropdown-menu{
    margin-top: 2px !important;
}

.panel-body{
    padding: 5px !important;
}

.form-username{
    height: 35px;
    width: 200px;
    /**background: #fff url(../img/username.png) no-repeat !important;
    padding-left: 35px;
    background-color: #f5f5f5 !important;
    */
}

.form-password{
    height: 35px;
    width: 200px;
    /**
    background: #fff url(../img/password.png) no-repeat !important;
    padding-left: 35px;
    background-color: #f5f5f5 !important;
    */
}

.insideContent ul {
    margin-top: 5px;
}

.insideContent li {
    color: red;
}

.navbar-nav li{
    height: 53px !important;
}

.dropdown-menu>li>a {
    height: 53px !important;
    padding: 15px !important;
}

.dataTables_filter{
    width: 60%;
    float:left;
    margin-left: 0px !important;
    padding-top: 0px !important;
}

.dataTables_filter label{
    width: 100%;
    float: left !important;
    margin-left: 0px !important;
}

.dataTables_length{
    color: #999;
    width: 100%;
    float: right;
    margin-right: 0px !important;
}

.dataTables_length label{
    width: 100%;
    text-align: right !important;
}

.dataTables_empty{
    color: #999;
}


.table-striped > tbody > tr:nth-child(odd){
    background-color: #eee;
}

.table-striped > tbody > tr:nth-child(even){
    background-color: #f9f9f9;
}

.table-striped > tbody > tr:hover {
  background-color: #ddd;
}

.label-search{
    margin-top: 5px !important;
}

.search{
    float: right !important;
}

.table{
    width: 100% !important;
}

.toolbar{
    width: 100%;
    height: 64px;
    left: 0 !important;
    right: 0 !important;
}

.tools{
    display: block;
}

.btn-group button .fa{
    margin-top: 10px !important;
}

.title-tool{
    font-size: 14px;
}

.btn-group button{
    /**color: #FF7F00 !important;*/
}

.action-tool:hover{
    text-decoration: none !important;
}

thead tr{
    max-height: 20px !important;
}

.gradeA{
    height: 20px !important;
}

.dataTables_wrapper{
    padding: 5px;
}

.dataTables_info{
    color: #999;
}

.nav-panel{
    padding: 10px;
}

.nav-grid{
    margin-bottom: 40px !important;
}

.table thead > tr > th, 
.table tbody > tr > th, 
.table tfoot > tr > th, 
.table thead > tr > td, 
.table tbody > tr > td, 
.table tfoot > tr > td {
    padding: 4px !important;
}

.grid-action-header{
    width: 50px !important;
}

.grid-action-row{
    text-align: center;
}

.disabled-style {
    color: #aaa !important;
    cursor: not-allowed;
}

.ui-jqdialog{
    width: auto !important;
    height: auto !important;
}

.FormGrid{
    padding: 10px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.req{
    color: red;
    font-size: 18px;
}

.FormElement{
    float: left;
}

.ui-search-input input, 
.ui-search-input select{
    padding: .4em !important;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 12px;
    height: 25px !important;
}

.ui-search-toolbar{
    height: 31px;
    line-height: none;
    overflow: visible !important;
}

.ui-search-input select{
    background: #eee !important;
}

.jqgrow{
    font-size: 12px !important;
    height: 25px !important;
}

.ui-jqgrid-sortable{
    text-transform: uppercase !important;
}

.ui-jqgrid-titlebar{
    height: 30px !important;
}

.ui-jqgrid-title{
    text-transform: uppercase !important;
    padding-top: 5px;
    padding-left: 5px;
}

.ui-jqgrid-bdiv{
    height: 320px !important;
}

.cbox{
    font-size: 3em !important;
}

.ui-jqgrid-pager{
    height: 30px !important;
}

.ui-pg-table{
    font-size: 12px;
}

.soptclass{
    cursor: pointer;
    font-size: 20px;
    color: #fff !important;
}

.ui-menu-item{
    font-size: 12px;
    height: 25px;
    padding: 0 !important;
}

.ui-search-menu table{
    padding: 0 !important;
    top: 0px !important;
}

.ui-menu .ui-menu-item{
    list-style-image: none;
}

.ui-state-hover{
    list-style-image: none;
    font-weight: normal;
    border: none !important;
}

.ui-menu-item table tr td {
    padding: 5px;
}

#grid__pager_left{
    display: none;
}

select[multiple]{
    height: 100px !important;
}

.view-header{
    width: 100%;
    color: #0075b0;
    display: block;
    padding: 0;
    margin-bottom: 5px;
    font-size: 21px;
    line-height: inherit;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

form .btn{
    margin-top: 20px;
    height: 40px;
    min-width: 80px !important;
}

.input-numeric{
    width: 25%;
    float: left;
    clear: both;
}

.input-text{
    float: left;
    clear: both;
}

.input-textarea{
    height: 6em !important;
    float: left;
    clear: both;
}

.input-submit{
    float: left !important;
}

.action-grid{
    float: right;
    margin-right: 10px;
    color: #333;
}

.action-grid:hover{
    text-decoration: none;
}